body {
  background-color: #111;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#background {
  max-height: 150vh;
  max-width: 150vw;
  min-height: 150vh;
  min-width: 150vw;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  animation: spin 250s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#welcome-message {
  color: #f5f5f5;
  text-align: center;
  margin-top: 100px;
}

#start-btn {
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 200px;
  font-size: 35px;
  cursor: pointer;
  padding: 20px;
  background-color: #222;
  border: 3px solid #f5f5f5;
  color: #f5f5f5;
  border-radius: 10px;
}

#space-craft img {
  z-index: 10;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%) scale(.6);
}
